.content {
    max-width: 2500px;
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content:flex-start;
    margin: 20px;
}

.game {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    max-width: 150px;
    background-color: rgb(210, 202, 202);
    border: 1px solid black;
    border-radius: 10px;
}

.loading {
    border: 15px solid #5649bc;
    border-top: 15px solid #ea34ad;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}